# dependencies
/node_modules

# production
dist/
src/

#whitelist exported interfaces
!src/components/interfaces/IGraphqlOptions.d.ts
!src/components/interfaces/IGraphqlInjectedProps.d.ts
!src/components/interfaces/IGraphqlClientProviderProps.d.ts
!src/components/interfaces/IQueryState.d.ts

# misc
.idea/

npm-debug.log*

tsconfig.json
tslint.json
webpack.config.js
webpack.config.prod.js
